In [3]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("data/soccerdata.csv")

In [6]:
data.head(3)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,D1,18/09/2020,19:30,Bayern Munich,Schalke 04,8,0,H,3,0,...,4.34,-2.50,1.89,2.04,1.87,2.02,1.95,2.18,1.85,2.02
1,D1,19/09/2020,14:30,Ein Frankfurt,Bielefeld,1,1,D,0,0,...,2.33,-0.75,1.96,1.97,1.96,1.96,2.02,1.98,1.94,1.93
2,D1,19/09/2020,14:30,FC Koln,Hoffenheim,2,3,A,1,2,...,2.27,0.00,1.91,2.02,1.92,2.01,1.97,2.08,1.89,1.98

In [7]:
data = data[["HomeTeam", "AwayTeam", "FTHG", "FTAG", "FTR", "HTHG", "HTAG", "HTR","HS","AS","HST","AST","HF","AF","HC","AC","HY","AY","HR","AR","B365H","B365D","B365A"]]
data.head(3)

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,...,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
0,Bayern Munich,Schalke 04,8,0,H,3,0,H,22,5,...,12,9,2,1,2,0,0,1.10,11.0,21.00
1,Ein Frankfurt,Bielefeld,1,1,D,0,0,D,18,14,...,13,14,3,2,2,0,0,1.61,4.2,5.25
2,FC Koln,Hoffenheim,2,3,A,1,2,A,13,13,...,13,1,6,0,0,0,0,2.60,3.5,2.60

In [8]:
data.to_csv(r'data/soccerdata_cleaned.csv', index = False)